<div id="fh5co-about" data-section="mission">
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          {{ range (where .Site.RegularPages "Section" "mission") }}
            <a href="#{{.Params.name}}-panel" class="mdl-tabs__tab {{ if eq .Params.weight 1}}is-active{{end}}">{{ .Params.title | markdownify }}</a>

          {{ end }}

        </div>
        {{ range (where .Site.RegularPages "Section" "mission") }}
          <div class="mdl-tabs__panel {{ if eq .Params.weight 1}}is-active{{end}}" id="{{.Params.name}}-panel">
            {{with .Params.subtitle}}<h2>{{ . }}</h2>{{ end }}
            {{ .Content }}
          </div>
        {{ end }}

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          Contact Me
        </button>
      </div><!--mdl-tabs-->
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
</div>


<div id="fh5co-about">
  <div class="fh5co-2col">
    <div class="fh5co-2col-inner">
      <div class="fh5co-tabs-container center">
	       <ul class="fh5co-tabs fh5co-three">
           {{ range (where .Site.RegularPages "Section" "mission") }}
              {{ if eq .Params.weight 1}}<li class="active">{{ else }}<li>{{ end }}
	               <a href="#" data-tab={{ .Params.name }}>{{ .Params.title | markdownify }}</a>
	            </li>
	         {{ end }}
	       </ul>
         {{ range (where .Site.Pages "Section" "mission") }}
	         {{ if eq .Params.weight 1}}
	           <div class="fh5co-tab-content active" data-tab-content={{ .Params.name }}>
	         {{ else }}
	           <div class="fh5co-tab-content" data-tab-content={{ .Params.name }}>
	         {{ end }}
	         <h2>{{ .Params.subtitle }}</h2>
	         {{ .Content }}
	        </div>
	       {{ end }}


      </div>

    </div>

  </div>


</div> <!-- END fh5co-about -->
