<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  {{ partial "head.html" . }}
  <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    {{ partial "site-header.html" . }}
    <main role="main" class="mdl-layout__content">


        {{ range first 1 .Data.Pages }}
        {{ partial "get_timestamp" . }}

        <div class="mdl-grid mdl-grid--nospace kovensmith-hero" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.65) 100%), url(/jpg/{{ .Scratch.Get "timestamp" }}.jpg) no-repeat center center; height: 550px; background-size: cover">
          <div class="mdl-cell mdl-cell--8-col post-header__container kovensmith-hero__titletext">
              <h2>{{ .Title }}</h2>
          </div>

        </div>
        <div class="mdl-grid" style="max-width: 1300px;">
          <div class="mdl-cell mdl-cell--3-col kovensmith-post__meta">
            <h3>{{ .Date.Format "January 2, 2006" }}</h3>

          </div>

          <div class="mdl-cell mdl-cell--7-col kovensmith-post__content">
            {{ $time := time (int .Date.Unix) }}
            {{ if lt $time.Year 2015 }}
              <blockquote class="mdl-color--light-green-300"><p><strong>OLD-ISH CONTENT WARNING:</strong> You are viewing a post that's more than three years old. There's a good chance that a lot of the following is seriously out-of-date (or at least not reflective of my current thinking on this topic). Proceed with caution.</p></blockquote>
            {{ end }}
            {{- .Content -}}
          </div>
        </div>
        <div class="mdl-grid" style="max-width: 1300px;">
          <div class="mdl-cell mdl-cell--3-col kovensmith-post__meta">
            <h3>Comments:</h3>
          </div>
          <div class="mdl-cell mdl-cell--7-col kovensmith-post__content">
            <a href="{{ .Permalink }}" class="mdl-button">Click through to comment<i class="material-icons">navigate_next</i></a>
          </div>
        </div>
        {{ end }}


        <div class="mdl-grid" style="max-width: 1300px;">

            <div class="mdl-cell mdl-cell--3-col kovensmith-post__meta">
              <h3>More Recent Posts:</h3>
            </div>
            <div class="mdl-cell mdl-cell--7-col mdl-grid kovensmith-post__content">
              {{ range after 1 (first 4 .Data.Pages)}}
                {{ .Render "smallcard4" }}
              {{ end }}
            </div>

      </div>
      <div class="mdl-grid" style="max-width: 400px;">
        <div class="mdl-cell mdl-cell--7-col">
          <a href="/post" class="mdl-button">All Posts<i class="material-icons">navigate_next</i></a>
        </div>
      </div>

      {{ partial "site-footer.html" . }}
    </main>
  </body>
</html>
