<head>


  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
{{ end -}}
  {{- partial "twitter-card" . -}}
  <link rel="stylesheet" href="/mdl/material.css" />
  <script src="/mdl/material.js"></script>
  {{ $style := resources.Get "sass/main.scss" | toCSS | postCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" >

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link href="https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Noto+Serif+KR|Ultra&display=swap" rel="stylesheet">


</head>
