<div id="fh5co-about" data-section="mission">
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
       {{ range (where .Site.RegularPages "Section" "mission") }}
            <a href="#{{.Params.name}}-panel" class="mdl-tabs__tab {{ if eq .Params.weight 1}}is-active{{end}}">{{ .Params.title | markdownify }}</a>

          {{ end }}

        </div>
   {{ range (where .Site.RegularPages "Section" "mission") }}
          <div class="mdl-tabs__panel {{ if eq .Params.weight 1}}is-active{{end}}" id="{{.Params.name}}-panel">
            {{with .Params.subtitle}}<h2>{{ . }}</h2>{{ end }}
            {{ .Content }}
          </div>
        {{ end }}
      <!--  <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          Contact Me
        </button> -->
      </div><!--mdl-tabs-->
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
</div>
